@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-jp: 'Noto Sans JP', sans-serif;
}

html, body {
  background-color: #09071a;
  color: #f0efff;
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}